<h3>Hot Tech Cold Beer</h3>

<nav id="rsvp">
  <ul>
    <li><a href="http://www.facebook.com/event.php?eid=141164002609303">Facebook</a></li>
    <li><a href="http://plancast.com/p/3m9i">Plancast</a></li>
  </ul>
</nav>

<article id="details">
  <p id="intro">
    Austin’s Hottest Startups invite you to 
    <strong>Stop By &amp; Have a Beer</strong> 
    courtesy of Austin's Coolest Breweries
  </p>
  <p id="startups">
    <strong>Meet The Founders</strong> 
    of <a href="http://otherinbox.com">OtherInbox</a>, <a href="http://gowalla.com">Gowalla</a>, <a href="http://infochimps.com">Infochimps</a>, and <a href="http://gowalla.com/trips/35441">More&hellip;</a>
  </p>
  <p id="breweries">
    <strong>Discover Local Brew</strong> 
    from <a href="http://independencebrewing.com">Independence Ale</a> and <a href="http://saintarnold.com">Saint Arnold</a>
  </p>
  <p id="prizes">
    <strong>Win Awesome Prizes</strong> like VIP Passes to <a href="http://ignitesxsw.eventbrite.com">IgniteSXSW</a> by checking-in with <a href="http://gowalla.com/trips/35441">Gowalla</a>
  </p>
  <p id="transportation">
    <strong>Get a Free Ride</strong> 
    Transportation courtesy of the <a href="http://smileymedia.com">Smiley Media</a> shuttle
  </p>
</article>