<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 ie"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 ie"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 ie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9 ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"><![endif]--> 
  
  <!-- ===================================== -->
  <!--                                       -->
  <!--            Capital Thought            -->
  <!--                                       -->
  <!--     MM                         MM     -->
  <!--    MMMMMMMM       M       MMMMMMMM    -->
  <!--   MMMMMMMMMMMMM  MMM  MMMMMMMMMMMMM   -->
  <!--  MMMMMMMMMMMMMMM M M MMMMMMMMMMMMMMM  -->
  <!--          MMMMMMMM   MMMMMMMM          -->
  <!--               MMMMMMMMM               -->
  <!--                 MMMMM                 -->
  <!--                                       -->
  <!--         Adam Michela  (@soopa)        -->
  <!--                                       -->
  <!-- ===================================== -->
    
  <title>Hot Tech Cold Beer &ndash; Austin Startup Crawl &ndash; SXSW 2011</title>
  
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <script src="javascripts/modernizr.min.js"></script>
  <script src="http://use.typekit.com/zkb6isj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="master.css">
    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script src="javascripts/jquery.lettering.min.js"></script>
  <script>
    $(document).ready(function() {
      $("h1").lettering('words');
      $("h1 span").lettering('letters');
      $("#sign p:first-child").lettering('words');
      $("#sign p:first-child span").lettering('letters');
      $("#sign p a").lettering('words');
      $("#sign p a span").lettering('letters');
      $("h2").lettering('words');
      $("h2 span").lettering('letters');
      $("h3").lettering('words');
      $("h3 span").lettering('letters');
      $("nav a").lettering('letters');
      $("#details strong").lettering('letters');
      $("#rsvp a").lettering('letters');
    });
  </script>
  
  <% if ENV['RACK_ENV'] == 'production' %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21548482-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
  </script>
  <% end %>
</head>

<body>
  
  <header>
    <div>
      <h1>Startup Crawl</h1>
      <div id="sign">
        <div id="panel">
          <p>SXSW 2011&nbsp;&nbsp;Mar 10&nbsp;&nbsp;4&ndash;10PM</p>
          <p><a href="http://capitalfactory.com">Presented by Capital Factory&rarr;</a></p>
          <span class="shim"></span>
        </div>
        <span class="shim"></span>
      </div>
      <h2>Welcome to Austin</h2>
    </div>
  </header>
  
  <section id="wall">
    <%= yield %>
  </section>
  
  <footer>
    <p>
      <strong>Austin Startup or Brewery?</strong>
      Email <a href="mailto:johnrodriguez@otherinbox.com">johnrodriguez@otherinbox.com</a> or call 512-748-6175
    </p>
  </footer>
  
<% if ENV['RACK_ENV'] == 'production' %>
  <script type="text/javascript">document.write(unescape('%3Cscript type="text/javascript" src="'+document.location.protocol+'//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/4313.js"%3E%3C%2Fscript%3E'))</script>
  <script type="text/javascript">
    var _sf_async_config={uid:20344,domain:"<%= ENV['CHARTBEAT_DOMAIN'] %>"};
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
           (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
           "js/chartbeat.js");
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21548482-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end %>
</body>
</html>
