// COLOR

$sg-black: #262626;
$sg-white: #fff;
$sg-brick: #261d17;     $sg-brick-overlay: #4c3a2e;
$sg-twilight: #1a1e33;  $sg-twilight-overlay: #343c66;
$sg-maroon: #8c1d07;    $sg-maroon-overlay: #ff3a0e;

$sg-neon-blue:   lighten(#33ccff, 4%); // #99ffff;
$sg-neon-pink:   lighten(#ff3333, 4%); // #ff6666;
$sg-neon-yellow: lighten(#ffcc33, 4%); // #ffd74c;
$sg-neon-green:  lighten(#66ff66, 4%); // #99ff99;

$sg-link-color: #fff;
$sg-panel-color: #ffffff; $sg-panel-color-overlay: #e5e5e5;
$sg-button-color: #0b0c0d;

// TYPE

$sg-baseline: 20px;

$sg-font-xs: 11px;
$sg-font-s: 12px;
$sg-font-m: 13px;
$sg-font-l: 16px;
$sg-font-xl: 18px;
$sg-font-xxl: 24px;
$sg-font-xxxl: 28px;